body, html, :root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app-container {
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/background-photo.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.login-container {
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    max-width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

button:disabled {
    background-color: #d1d5db;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.input-container input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: -8px;
    font-size: 0.8rem;
    color: #007BFF;
}

.input-container input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (min-width: 768px) {
    .login-container {
        width: 500px;
    }
}
